h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(49, 80%, 71%);
    padding: 0px;
    margin: 5px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(46, 69%, 65%);
}
.navbar li{
    float: left;
}
body{    font-family: 'Roboto';font-size: 22px;

}